/* ---------------------
        Fonts-Poppins
------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* ----------------------------
    Common Styles Start
-------------------------------*/
body{
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
     width: 1050px;
}
/* ----------------------------
    Common Styles Start
-------------------------------*/
/* ---------------------------------------
        players-section start
-------------------------------------------*/
.players {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.player {
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-details {
    width: 300px;
    height: 426px;
    padding: 15px 15px 30px 15px;
}
.player-details img {
    width: 100%;
    height: 256px;
}
.player-info h2 {
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
    margin-top: 12px;
    margin-bottom: 10px;
}
.player-info p {
    font-size: 16px;
    color: #6C6C6C;
    margin-top: 0;
    margin-bottom: 0;
}
/* ---------------------------------------
        players-section end
-------------------------------------------*/
/* ---------------------------------------
        highlights-section start
-------------------------------------------*/
.highlights-section {
    margin-top: 165px;
}
.highlights-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 66px;
}
.highlight-title {
    width: 469px;
    margin-top: 59px;
}
.highlight-title h1 {
    font-size: 48px;
    font-weight: 700;
    color: #0A0826;
    margin-top: 0;
    margin-bottom: 0;
}
.highlight-title p {
    font-size: 16px;
    color: #6C6C6C;
    margin-top: 0;
    margin-bottom: 24px;
}
.link-button{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    background-color : #E02C6D;
     padding: 10px 24px;
     color: #FFFFFF;
}
.fa-arrow-right {
    margin-left: 8px;
}
.match img {
    width: 567px;
    height: 427px;
}
/* ---------------------------------------
        highlights-section end
-------------------------------------------*/